/*& COLORS */
:root {
    --white: #fff;
    --black: #0f0f0f;
    --red:#fd1919;
    --blue:#1bede0;
    --yellow:#fef407;
    --spacing: 8px;
}

*, *::before, *::after {
    box-sizing: border-box;
}
/*& end of css reset */


body {
    background-color: var(--black);
    font-family: 'Hahmlet', serif;
    color: var(--white);
}

/*& SPAN DOTS */
span {
    font-size: 4rem;
}

.red-dot {
    color: var(--red);
}

.blue-dot {
    color: var(--blue);
}

.yellow-dot {
    color: var(--yellow);
}

/*& INTRO SECTION */

.intro-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

.intro {
    color: var(--white);
    text-align: center;
}

.intro-heading {
    font-weight: 400;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    font-size: 5rem;
}

.intro-description {
    font-weight: 200;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.intro-button {
    background-color: var(--black);
    border-color: var(--white);
    color: var(--white);
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-family: 'Hahmlet', serif;
}

.intro-button > a{
    text-decoration: none;
    color: var(--white);
}

.intro-button:hover {
    background-color: var(--white);
    border: var(--white);
    color: var(--black);
}

.intro-button > a:hover{
    text-decoration: none;
    color: var(--black);
}

/*& FRIENDS SECTION */

.friend-heading {
    font-weight: 400;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    font-size: 5rem;
    text-align: center;
}

.friend-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    padding: 0 10rem;
}

.friend-image > a {
    text-decoration: none;
    color: var(--white);
}

.friend-image > a > img {
    width: 200px;
    padding: 0;
    border-radius: 50%;
}

.friend-image > a > figcaption {
    text-align: center;
    font-size: 2rem;
    font-family: 'Hahmlet', serif;
    letter-spacing: var(--spacing);
    padding-top: 1rem;
    background: rgba(255, 122, 89, 0);
}

.friend-image > a:hover {
    text-shadow: rgb(227, 242, 249) 1px 0 15px;
}

.friend-image > a > img:hover {
    border-radius: 10%;
}

/*& FRIEND INDIVIDUAL PAGES */

.friend-name {
    font-weight: 400;
    letter-spacing: var(--spacing);
    font-size: 5rem;
    text-align: center;
}

.friend-info-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 75%;
    margin: 0 auto;
    /* background-color: teal; */
}

.friend-info-container > div {
    /* padding: 0 50px; */
    width: 50%;
}

.friend-individual-image > img {
    width: 425px;
}

.friend-lines-list {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 3rem;
}


/* .friend-lines::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
} */

.red-point::before {
    color: var(--red);
    content: "\2022";
    /* font-weight: bold; */
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.blue-point::before {
    color: var(--blue);
    content: "\2022";
    /* font-weight: bold; */
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.yellow-point::before {
    color: var(--yellow);
    content: "\2022";
    /* font-weight: bold; */
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/*& MEDIA QUERIES */

/*& DESKTOP */
@media screen and (min-width: 1435px) {
    .friend-container {
        /* background-color: red; */
        padding: 0 20em;
    }
}

/*& MOBILE */
@media  screen and (max-width: 630px) {
    
    /*& MAIN PAGE */
    .friend-heading {
        text-align: center;
        font-size: 2.2rem;
    }

    .friend-heading > * {
        font-size: 2.2rem;
    }

    .friend-container {
        display: flex;
        flex-direction: row;
        /* background-color: red; */
        justify-content: center;
    }

    /*& FRIEND INDIVIDUAL PAGE */
    body {
        justify-content: center;
    }

    .friend-name {
        text-align: center;
        font-size: 2.2rem;
    }

    .friend-name > * {
        font-size: 2.2rem;
    }
     
    .friend-info-container {
        display: inline-block;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .friend-individual-image > img {
        width: 300px;
        padding-left: 3rem;
    }

    .friend-lines-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .friend-lines-list > li {
        text-align: center;
        width: 12em;
    }
}